@import "tailwindcss";

/* Define your design system */
@theme {
    --color-primary: #4F46E5;
    --color-accent: #22D3EE;
    --color-highlight: #A855F7;
    --color-bg: #020617;
    --color-card: #111827;
    --color-text-primary: #F9FAFB;
    --color-text-secondary: #F9FAFB;
}

/* Global styles */
body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
}